common --enable_bzlmod --cxxopt=-std=c++20 --cxxopt=-stdlib=libc++ #--features=asan
# --action_env=CC=/usr/bin/gcc
# set ldflags
# build --action_env=LLVM_CONFIG_PATH="/opt/homebrew/opt/llvm/bin/llvm-config"
# build --action_env=LD_LIBRARY_PATH="/opt/homebrew/opt/llvm/lib"